<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>11544258142-gr9k6bful1baq8b6s24vo9h6oetekeoh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.11544258142-gr9k6bful1baq8b6s24vo9h6oetekeoh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>11544258142-8efv3pdkcqqp02lkt5p9bindu562plvj.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDLKiRBsCeRoIc-ygA5n7VGBb8e5-fe7Zg</string>
	<key>GCM_SENDER_ID</key>
	<string>11544258142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.danieldominguez.chatbot</string>
	<key>PROJECT_ID</key>
	<string>kobe-atmt</string>
	<key>STORAGE_BUCKET</key>
	<string>kobe-atmt.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:11544258142:ios:23219eb8543e8d40aa76cf</string>
	<key>DATABASE_URL</key>
	<string>https://kobe-atmt-default-rtdb.firebaseio.com</string>
</dict>
</plist>